<div class="wrapper">

  <div class="pit">
    <div class="title">
      P I T
    </div>
    <div [dragula]="'bag'" class="container" id="pit">
      <div *ngFor="let car of filterCarsByPlacement(cars, 'pit'); let i = index" id="{{ car.id }}">
        <car [car]="car" (onSave)="saveGrid($event)" (onDelete)="deleteCar($event)"></car>
      </div>
    </div>
  </div>

  <div class="lobby">
    <div class="title">
      L O B B Y
    </div>
    <div [dragula]="'bag'"
         [dragulaModel]="cars"
         class="container"
         id="lobby">
      <div *ngFor="let car of filterCarsByPlacement(cars, 'lobby'); let i = index" id="{{ car.id }}">
        <car [car]="car" (onSave)="saveGrid($event)" (onDelete)="deleteCar($event)"></car>
      </div>
      <div class="create-new" (click)="createNewCar()">+</div>
    </div>
  </div>

  <div class="reset" (click)="resetData()">Reset</div>

</div>
