.wrapper {
  position: relative;
  height: 100%;
}

.pit,
.lobby {
  /* padding: 20px; */
}

.pit {
  /* box-sizing: border-box; */
  width: 380px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.lobby {
  margin-left: 420px;
  height: 100%;
  box-sizing: border-box;
}

.pit-container {
  float: left;
  min-height: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 33%;
}
.lobby-container {
  height: 100%;
  padding-top: 20px;
}
.container {
  /* display: flex; */
  box-sizing: border-box;
  height: 100%;
  padding: 0 20px 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px #bbb;
}
.container: after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  clear: both;
}

.car-container {
  float: left;
}

.pit-title,
.lobby-title {
  font-size: 20px;
  text-align: center;
}
.pit-title {
  padding: 20px 0 0px;
}
.lobby-title {
  text-align: left;
  padding: 10px 0 10px 30px;
}

/* .create-new {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 46px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
} */

/* .reset {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  text-transform: uppercase;
} */

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu li {
  cursor: pointer;
  list-style: none;
  float: right;
  margin: 0 10px;
}
