<div class="wrapper">

  <div class="pit">
    <div class="container">
      <div class="pit-title">
        P I T
      </div>
      <div [dragula]="'bag'" class="pit-container" id="pit1">
        <div *ngFor="let car of pit1Cars" class="car-container" id="{{ car.id }}">
          <car [car]="car" (onSave)="saveGrid($event)" (onDelete)="deleteCar($event)"></car>
        </div>
      </div>
      <div [dragula]="'bag'" class="pit-container" id="pit2">
        <div *ngFor="let car of pit2Cars" class="car-container" id="{{ car.id }}">
          <car [car]="car" (onSave)="saveGrid($event)" (onDelete)="deleteCar($event)"></car>
        </div>
      </div>
      <div [dragula]="'bag'" class="pit-container" id="pit3">
        <div *ngFor="let car of pit3Cars" class="car-container" id="{{ car.id }}">
          <car [car]="car" (onSave)="saveGrid($event)" (onDelete)="deleteCar($event)"></car>
        </div>
      </div>
    </div>
  </div>

  <div class="lobby">
    <div class="lobby-title">
      L O B B Y
    </div>
    <div class="container">
      <div class="lobby-container" [dragula]="'bag'" id="lobby">
        <div *ngFor="let car of lobbyCars; let i = index" class="car-container" id="{{ car.id }}">
          <car [car]="car" (onSave)="saveGrid($event)" (onDelete)="deleteCar($event)"></car>
        </div>
        <!-- <div class="create-new" (click)="createNewCar()">+</div> -->
      </div>
    </div>
  </div>

  <ul class="menu">
    <li (click)="resetData()">Reset</li>
    <li (click)="createNewCar(5)">Add 5 cars</li>
    <li (click)="createNewCar()">Add 1 car</li>
  </ul>

  <!-- <div class="reset" (click)="resetData()">Reset</div> -->

</div>
